<div class="container">
	<img src="~/images/notfound.jpg" width="100%" height="100%"  />
</div>
<script>
    window.addEventListener('resize', function() {
        const container = document.querySelector('.container');
        container.style.width = window.innerWidth + 'px';
        container.style.height = window.innerHeight + 'px';
    });
</script>