


@model HomeViewModel

<div>
    <partial name="_Carousel" />

    <form method="post" class="bg-black"
          asp-action="GetVillasByDate"  >
          @* data-ajax-method="post" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#VillasList"> *@

        <partial name="_BookingForm" model="Model" />
        <partial name="_VillasList" model="Model" />

       
    </form>
</div>

@section scripts {
    <script>
        function fnLoadVillaList() {

            $('.spinner').show();
            var objData={
                checkInDate: $('#CheckInDate').val(),
                nights: $('#Nights').val()
            };

            $.ajax({
                type: "POST",
                url: '@Url.Action("GetVillasByDate", "Home")',
                data: objData ,
                success: function (data) {
                    $('#VillasList').empty();
                    $('#VillasList').html(data);
                    $('.spinner').hide();
                },
                failure:function (response) {
                $('.spinner').hide();
                alert(response.responseText);
                },
                error: function (response) {
                    $('.spinner').hide();
                    alert(response.responseText);
                    console.error(response);
                }
            });
        }
    </script>
}

@* <script> *@
@*     // Show spinner before AJAX begins *@
@*     $(document).on('ajaxBegin', function (e) { *@
@*         $('#villas-spinner').show(); *@
@*     }); *@

@*     // Hide spinner after AJAX completes *@
@*     $(document).on('ajaxComplete ajaxFailure', function (e) { *@
@*         $('#villas-spinner').hide(); *@
@*     }); *@
@* </script> *@
